In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/flight-data/Data_Train (1).xlsx
/kaggle/input/flight-data/Test_set.xlsx

In [2]:
import pandas as pd

In [3]:
df=pd.read_excel('/kaggle/input/flight-data/Data_Train (1).xlsx')

In [4]:
df

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
...,...,...,...,...,...,...,...,...,...,...,...
10678,Air Asia,9/04/2019,Kolkata,Banglore,CCU → BLR,19:55,22:25,2h 30m,non-stop,No info,4107
10679,Air India,27/04/2019,Kolkata,Banglore,CCU → BLR,20:45,23:20,2h 35m,non-stop,No info,4145
10680,Jet Airways,27/04/2019,Banglore,Delhi,BLR → DEL,08:20,11:20,3h,non-stop,No info,7229
10681,Vistara,01/03/2019,Banglore,New Delhi,BLR → DEL,11:30,14:10,2h 40m,non-stop,No info,12648
10682,Air India,9/05/2019,Delhi,Cochin,DEL → GOI → BOM → COK,10:55,19:15,8h 20m,2 stops,No info,11753

In [5]:
df.columns

Index(['Airline', 'Date_of_Journey', 'Source', 'Destination', 'Route',
       'Dep_Time', 'Arrival_Time', 'Duration', 'Total_Stops',
       'Additional_Info', 'Price'],
      dtype='object')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10683 entries, 0 to 10682
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          10683 non-null  object
 1   Date_of_Journey  10683 non-null  object
 2   Source           10683 non-null  object
 3   Destination      10683 non-null  object
 4   Route            10682 non-null  object
 5   Dep_Time         10683 non-null  object
 6   Arrival_Time     10683 non-null  object
 7   Duration         10683 non-null  object
 8   Total_Stops      10682 non-null  object
 9   Additional_Info  10683 non-null  object
 10  Price            10683 non-null  int64
dtypes: int64(1), object(10)
memory usage: 918.2+ KB

In [7]:
df.describe()

              Price
count  10683.000000
mean    9087.064121
std     4611.359167
min     1759.000000
25%     5277.000000
50%     8372.000000
75%    12373.000000
max    79512.000000

In [8]:
df1=pd.read_excel('/kaggle/input/flight-data/Test_set.xlsx')

In [9]:
fdf1=pd.concat([df,df1],axis=0)

In [10]:
fdf1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0
...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,6/06/2019,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN
2667,IndiGo,27/03/2019,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN
2668,Jet Airways,6/03/2019,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN
2669,Air India,6/03/2019,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN
2670,Multiple carriers,15/06/2019,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN

In [11]:
fdf1['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [12]:
fdf1['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [13]:
fdf1['Date_of_Journey']=pd.to_datetime(fdf1['Date_of_Journey'])

/tmp/ipykernel_100/3486764899.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  fdf1['Date_of_Journey']=pd.to_datetime(fdf1['Date_of_Journey'])

In [14]:
fdf1['Date_of_Journey']

0      2019-03-24
1      2019-05-01
2      2019-06-09
3      2019-05-12
4      2019-03-01
          ...
2666   2019-06-06
2667   2019-03-27
2668   2019-03-06
2669   2019-03-06
2670   2019-06-15
Name: Date_of_Journey, Length: 13354, dtype: datetime64[ns]

In [15]:
fdf1['year']=fdf1['Date_of_Journey'].dt.year

In [16]:
fdf1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019
...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019
2668,Jet Airways,2019-03-06,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019
2669,Air India,2019-03-06,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019

In [17]:
fdf1['month']=fdf1['Date_of_Journey'].dt.month

In [18]:
fdf1['day']=fdf1['Date_of_Journey'].dt.day

In [19]:
fdf1

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day
0,IndiGo,2019-03-24,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24
1,Air India,2019-05-01,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1
2,Jet Airways,2019-06-09,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9
3,IndiGo,2019-05-12,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12
4,IndiGo,2019-03-01,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,2019-06-06,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6
2667,IndiGo,2019-03-27,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27
2668,Jet Airways,2019-03-06,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6
2669,Air India,2019-03-06,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6
2670,Multiple carriers,2019-06-15,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15

In [20]:
fdf1['year'].astype(int),fdf1['month'].astype(int),fdf1['day'].astype(int)

(0       2019
 1       2019
 2       2019
 3       2019
 4       2019
         ...
 2666    2019
 2667    2019
 2668    2019
 2669    2019
 2670    2019
 Name: year, Length: 13354, dtype: int64,
 0       3
 1       5
 2       6
 3       5
 4       3
        ..
 2666    6
 2667    3
 2668    3
 2669    3
 2670    6
 Name: month, Length: 13354, dtype: int64,
 0       24
 1        1
 2        9
 3       12
 4        1
         ..
 2666     6
 2667    27
 2668     6
 2669     6
 2670    15
 Name: day, Length: 13354, dtype: int64)

In [21]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  datetime64[ns]
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  year             13354 non-null  int32
 12  month            13354 non-null  int32
 13  day              13354 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(3), object(9)
memory usage: 1.4+ MB

In [22]:
fdf1.drop(columns=['Date_of_Journey'],inplace=True)

In [23]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15

In [24]:
fdf1[['Arrival_time','kachra']]=fdf1['Arrival_Time'].str.split(' ',expand=True, n=1)

In [25]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_time,kachra
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24,01:10,22 Mar
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13:15,None
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9,04:25,10 Jun
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12,23:30,None
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1,21:35,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6,20:25,07 Jun
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27,16:55,None
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6,04:25,07 Mar
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6,19:15,None
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15,19:15,None

In [26]:
fdf1.drop(columns=['kachra'],inplace=True)

In [27]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24,01:10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13:15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9,04:25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12,23:30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1,21:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6,20:25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27,16:55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6,04:25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6,19:15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15,19:15

In [28]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  year             13354 non-null  int32
 11  month            13354 non-null  int32
 12  day              13354 non-null  int32
 13  Arrival_time     13354 non-null  object
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [29]:
fdf1['Arrival_time']=pd.to_datetime(fdf1['Arrival_time'])

/tmp/ipykernel_100/2827670217.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  fdf1['Arrival_time']=pd.to_datetime(fdf1['Arrival_time'])

In [30]:
fdf1.drop(columns=['Arrival_time'],inplace=True)

In [31]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15

In [32]:
fdf1[['Arrival_time','kachra']]=fdf1['Arrival_Time'].str.split(' ',expand=True, n=1)

In [33]:
fdf1.drop(columns=['kachra'],inplace=True)

In [34]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24,01:10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13:15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9,04:25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12,23:30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1,21:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6,20:25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27,16:55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6,04:25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6,19:15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15,19:15

In [35]:
fdf1[['Arrival_hour','Arrival_min']]=fdf1['Arrival_time'].str.split(':',expand=True, n=1)

In [36]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_time,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24,01:10,01,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13:15,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9,04:25,04,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12,23:30,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1,21:35,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6,20:25,20,25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27,16:55,16,55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6,04:25,04,25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6,19:15,19,15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15,19:15,19,15

In [37]:
fdf1[['Arrival_hour','Arrival_min']]=fdf1[['Arrival_hour','Arrival_min']].astype(int)

In [38]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  year             13354 non-null  int32
 11  month            13354 non-null  int32
 12  day              13354 non-null  int32
 13  Arrival_time     13354 non-null  object
 14  Arrival_hour     13354 non-null  int64
 15  Arrival_min      13354 non-null  int64
dtypes: float64(1), int32(3), int64(2), object(10)
memory usage: 1.6+ MB

In [39]:
fdf1.drop('Arrival_time',axis=1,inplace=True)

In [40]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0,2019,3,24,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0,2019,6,9,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,2019,5,12,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,2019,3,1,21,35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,20:25 07 Jun,23h 55m,1 stop,No info,NaN,2019,6,6,20,25
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,16:55,2h 35m,non-stop,No info,NaN,2019,3,27,16,55
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,04:25 07 Mar,6h 35m,1 stop,No info,NaN,2019,3,6,4,25
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,19:15,15h 15m,1 stop,No info,NaN,2019,3,6,19,15
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,19:15,14h 20m,1 stop,No info,NaN,2019,6,15,19,15

In [41]:
fdf1.drop('Arrival_Time',axis=1,inplace=True)

In [42]:
fdf1[['Departure_hour','Departure_min']]=fdf1['Dep_Time'].str.split(':',expand=True, n=1)

In [43]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,2019,3,24,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15,05,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,2019,6,9,4,25,09,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,2019,5,12,23,30,18,05
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,2019,3,1,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,23h 55m,1 stop,No info,NaN,2019,6,6,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,2h 35m,non-stop,No info,NaN,2019,3,27,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,6h 35m,1 stop,No info,NaN,2019,3,6,4,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,15h 15m,1 stop,No info,NaN,2019,3,6,19,15,04,00
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,14h 20m,1 stop,No info,NaN,2019,6,15,19,15,04,55

In [44]:
fdf1[['Departure_hour','Departure_min']]=fdf1[['Departure_hour','Departure_min']].astype(int)

In [45]:
fdf1

,Airline,Source,Destination,Route,Dep_Time,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,2h 50m,non-stop,No info,3897.0,2019,3,24,1,10,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,7h 25m,2 stops,No info,7662.0,2019,5,1,13,15,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,19h,2 stops,No info,13882.0,2019,6,9,4,25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,5h 25m,1 stop,No info,6218.0,2019,5,12,23,30,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,4h 45m,1 stop,No info,13302.0,2019,3,1,21,35,16,50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,CCU → DEL → BLR,20:30,23h 55m,1 stop,No info,NaN,2019,6,6,20,25,20,30
2667,IndiGo,Kolkata,Banglore,CCU → BLR,14:20,2h 35m,non-stop,No info,NaN,2019,3,27,16,55,14,20
2668,Jet Airways,Delhi,Cochin,DEL → BOM → COK,21:50,6h 35m,1 stop,No info,NaN,2019,3,6,4,25,21,50
2669,Air India,Delhi,Cochin,DEL → BOM → COK,04:00,15h 15m,1 stop,No info,NaN,2019,3,6,19,15,4,0
2670,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,04:55,14h 20m,1 stop,No info,NaN,2019,6,15,19,15,4,55

In [46]:
fdf1.drop('Dep_Time',axis=1,inplace=True)

In [47]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13353 non-null  object
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   year             13354 non-null  int32
 9   month            13354 non-null  int32
 10  day              13354 non-null  int32
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Departure_hour   13354 non-null  int64
 14  Departure_min    13354 non-null  int64
dtypes: float64(1), int32(3), int64(4), object(7)
memory usage: 1.5+ MB

In [48]:
fdf1['Total_Stops'].unique()

array(['non-stop', '2 stops', '1 stop', '3 stops', nan, '4 stops'],
      dtype=object)

In [49]:
fdf1[fdf1['Total_Stops'].isna()]

,Airline,Source,Destination,Route,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min
9039,Air India,Delhi,Cochin,NaN,23h 40m,NaN,No info,7480.0,2019,5,6,9,25,9,45

In [50]:
fdf1['Total_Stops']=fdf1['Total_Stops'].map({'non-stop':0,'2 stops':2,'1 stop':1,'4 stops':4, 'nan':2})

In [51]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 15 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Duration         13354 non-null  object
 5   Total_Stops      13297 non-null  float64
 6   Additional_Info  13354 non-null  object
 7   Price            10683 non-null  float64
 8   year             13354 non-null  int32
 9   month            13354 non-null  int32
 10  day              13354 non-null  int32
 11  Arrival_hour     13354 non-null  int64
 12  Arrival_min      13354 non-null  int64
 13  Departure_hour   13354 non-null  int64
 14  Departure_min    13354 non-null  int64
dtypes: float64(2), int32(3), int64(4), object(6)
memory usage: 1.5+ MB

In [52]:
fdf1.drop('Route',axis=1,inplace=True)

In [53]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13297 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   year             13354 non-null  int32
 8   month            13354 non-null  int32
 9   day              13354 non-null  int32
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Departure_hour   13354 non-null  int64
 13  Departure_min    13354 non-null  int64
dtypes: float64(2), int32(3), int64(4), object(5)
memory usage: 1.4+ MB

In [54]:
fdf1[['Duration_hr','duration-min']]=df['Duration'].str.split(' ',expand=True,n=1)

In [55]:
fdf1

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20,2h,50m
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50,7h,25m
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19h,None
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,2019,5,12,23,30,18,5,5h,25m
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,2019,3,1,21,35,16,50,4h,45m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,2019,6,6,20,25,20,30,27h,25m
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,2019,3,27,16,55,14,20,2h,35m
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,2019,3,6,4,25,21,50,20h,10m
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,2019,3,6,19,15,4,0,2h,50m
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,2019,6,15,19,15,4,55,5h,35m

In [56]:
fdf1['Duration_hr'] = fdf1['Duration_hr'].str.replace('h', '').astype(int)

ValueError: invalid literal for int() with base 10: '5m'

In [57]:
fdf1[fdf1['Duration_hr'].str.contains('m')]

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,2019,3,6,16,55,16,50,5m,None

In [58]:
fdf1['duration-min'].loc[fdf1['Duration_hr'].str.contains('m')]='5m' # fdf1.loc[fdf1['Duration_hr'].str.contains('m'), 'duration-min'] = '5m' use this in future

/tmp/ipykernel_100/2944234344.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  fdf1['duration-min'].loc[fdf1['Duration_hr'].str.contains('m')]='5m'
/tmp/ipykernel_100/2944234344.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdf1['duration-min'].loc[fdf1['Duration_hr'].str.contains('m')]='5m'

In [59]:
fdf1['Duration_hr'].loc[fdf1['Duration_hr'].str.contains('m')]='0h'

/tmp/ipykernel_100/2115621652.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fdf1['Duration_hr'].loc[fdf1['Duration_hr'].str.contains('m')]='0h'

In [60]:
fdf1

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20,2h,50m
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50,7h,25m
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19h,None
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,2019,5,12,23,30,18,5,5h,25m
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,2019,3,1,21,35,16,50,4h,45m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,2019,6,6,20,25,20,30,27h,25m
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,2019,3,27,16,55,14,20,2h,35m
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,2019,3,6,4,25,21,50,20h,10m
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,2019,3,6,19,15,4,0,2h,50m
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,2019,6,15,19,15,4,55,5h,35m

In [61]:
fdf1[fdf1['Duration_hr']=='0h']

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min
6474,Air India,Mumbai,Hyderabad,5m,2.0,No info,17327.0,2019,3,6,16,55,16,50,0h,5m

In [62]:
fdf1['Duration_hr'].unique()

array(['2h', '7h', '19h', '5h', '4h', '15h', '21h', '25h', '13h', '12h',
       '26h', '22h', '23h', '20h', '10h', '6h', '11h', '8h', '16h', '3h',
       '27h', '1h', '14h', '9h', '18h', '17h', '24h', '30h', '28h', '29h',
       '37h', '34h', '38h', '35h', '36h', '47h', '33h', '32h', '31h',
       '42h', '39h', '0h', '41h', '40h'], dtype=object)

In [63]:

fdf1['Duration_hr'] = fdf1['Duration_hr'].str.replace('h', '').astype(int)

In [67]:
fdf1['Duration_hr'].dtype

dtype('int64')

In [68]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13297 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   year             13354 non-null  int32
 8   month            13354 non-null  int32
 9   day              13354 non-null  int32
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Departure_hour   13354 non-null  int64
 13  Departure_min    13354 non-null  int64
 14  Duration_hr      13354 non-null  int64
 15  duration-min     12071 non-null  object
dtypes: float64(2), int32(3), int64(5), object(6)
memory usage: 1.6+ MB

In [73]:
a=np.array(fdf1['Duration_hr'])

In [76]:
a=a*60

In [77]:
a

array([ 120,  420, 1140, ..., 1200,  120,  300])

In [78]:
fdf1['Duration_hr1']=pd.DataFrame(a)

In [79]:
fdf1

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20,2,50m,120
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50,7,25m,420
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,None,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,2019,5,12,23,30,18,5,5,25m,300
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,2019,3,1,21,35,16,50,4,45m,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,2019,6,6,20,25,20,30,27,25m,1620
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,2019,3,27,16,55,14,20,2,35m,120
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,2019,3,6,4,25,21,50,20,10m,1200
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,2019,3,6,19,15,4,0,2,50m,120
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,2019,6,15,19,15,4,55,5,35m,300

In [80]:
fdf1['duration-min'].unique()

array(['50m', '25m', None, '45m', '30m', '5m', '15m', '35m', '10m', '20m',
       '55m', '40m'], dtype=object)

In [81]:
fdf1['duration-min']=fdf1['duration-min'].str.replace('None','0m')

In [84]:
fdf1[fdf1['duration-min'].isna()]

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,None,1140
18,Air India,Delhi,Cochin,23h,2.0,No info,13381.0,2019,6,12,19,15,20,15,23,None,1380
33,Jet Airways,Delhi,Cochin,22h,2.0,In-flight meal not included,10919.0,2019,6,15,12,35,14,35,22,None,1320
44,Multiple carriers,Delhi,Cochin,12h,1.0,No info,13062.0,2019,3,21,21,0,9,0,12,None,720
53,IndiGo,Banglore,Delhi,3h,0.0,No info,3943.0,2019,6,18,0,15,21,15,3,None,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,SpiceJet,Chennai,Kolkata,2h 20m,0.0,No check-in baggage included,NaN,2019,5,9,20,5,17,45,3,None,180
2627,Air India,Delhi,Cochin,22h 30m,1.0,No info,NaN,2019,3,6,8,15,9,45,13,None,780
2644,Multiple carriers,Delhi,Cochin,11h 30m,1.0,No info,NaN,2019,6,3,19,0,7,30,20,None,1200
2659,Jet Airways,Delhi,Cochin,7h 5m,2.0,In-flight meal not included,NaN,2019,6,15,12,35,5,30,24,None,1440
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,NaN,2019,3,12,16,55,16,50,27,None,1620

In [89]:
fdf1[fdf1['duration-min'].isna()].fillna('0m')

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,0m,1140
18,Air India,Delhi,Cochin,23h,2.0,No info,13381.0,2019,6,12,19,15,20,15,23,0m,1380
33,Jet Airways,Delhi,Cochin,22h,2.0,In-flight meal not included,10919.0,2019,6,15,12,35,14,35,22,0m,1320
44,Multiple carriers,Delhi,Cochin,12h,1.0,No info,13062.0,2019,3,21,21,0,9,0,12,0m,720
53,IndiGo,Banglore,Delhi,3h,0.0,No info,3943.0,2019,6,18,0,15,21,15,3,0m,180
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2610,SpiceJet,Chennai,Kolkata,2h 20m,0.0,No check-in baggage included,0m,2019,5,9,20,5,17,45,3,0m,180
2627,Air India,Delhi,Cochin,22h 30m,1.0,No info,0m,2019,3,6,8,15,9,45,13,0m,780
2644,Multiple carriers,Delhi,Cochin,11h 30m,1.0,No info,0m,2019,6,3,19,0,7,30,20,0m,1200
2659,Jet Airways,Delhi,Cochin,7h 5m,2.0,In-flight meal not included,0m,2019,6,15,12,35,5,30,24,0m,1440
2660,Air India,Mumbai,Hyderabad,5m,2.0,No info,0m,2019,3,12,16,55,16,50,27,0m,1620

In [90]:
fdf1['duration-min'] = fdf1['duration-min'].fillna('0m')

In [91]:
fdf1['duration-min']=fdf1['duration-min'].str

0       50m
1       25m
2        0m
3       25m
4       45m
       ...
2666    25m
2667    35m
2668    10m
2669    50m
2670    35m
Name: duration-min, Length: 13354, dtype: object

In [94]:
fdf1['duration-min'] = fdf1['duration-min'].str.replace('m', '').astype(int)

In [95]:
fdf1['duration-min']

0       50
1       25
2        0
3       25
4       45
        ..
2666    25
2667    35
2668    10
2669    50
2670    35
Name: duration-min, Length: 13354, dtype: int64

In [96]:
a=np.array([1,2,3])
b=np.array([1,2,3])
a+b

array([2, 4, 6])

In [97]:
fdf1

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20,2,50,120
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50,7,25,420
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,0,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,2019,5,12,23,30,18,5,5,25,300
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,2019,3,1,21,35,16,50,4,45,240
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,2019,6,6,20,25,20,30,27,25,1620
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,2019,3,27,16,55,14,20,2,35,120
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,2019,3,6,4,25,21,50,20,10,1200
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,2019,3,6,19,15,4,0,2,50,120
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,2019,6,15,19,15,4,55,5,35,300

In [98]:
a=np.array(fdf1['duration-min'])
b=np.array(fdf1['Duration_hr1'])

In [99]:
c=a+b

In [100]:
c

array([ 170,  445, 1140, ..., 1210,  170,  335])

In [101]:
fdf1['Total_duration']=pd.DataFrame(c)

In [102]:
fdf1

,Airline,Source,Destination,Duration,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1,Total_duration
0,IndiGo,Banglore,New Delhi,2h 50m,0.0,No info,3897.0,2019,3,24,1,10,22,20,2,50,120,170
1,Air India,Kolkata,Banglore,7h 25m,2.0,No info,7662.0,2019,5,1,13,15,5,50,7,25,420,445
2,Jet Airways,Delhi,Cochin,19h,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,0,1140,1140
3,IndiGo,Kolkata,Banglore,5h 25m,1.0,No info,6218.0,2019,5,12,23,30,18,5,5,25,300,325
4,IndiGo,Banglore,New Delhi,4h 45m,1.0,No info,13302.0,2019,3,1,21,35,16,50,4,45,240,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,23h 55m,1.0,No info,NaN,2019,6,6,20,25,20,30,27,25,1620,1645
2667,IndiGo,Kolkata,Banglore,2h 35m,0.0,No info,NaN,2019,3,27,16,55,14,20,2,35,120,155
2668,Jet Airways,Delhi,Cochin,6h 35m,1.0,No info,NaN,2019,3,6,4,25,21,50,20,10,1200,1210
2669,Air India,Delhi,Cochin,15h 15m,1.0,No info,NaN,2019,3,6,19,15,4,0,2,50,120,170
2670,Multiple carriers,Delhi,Cochin,14h 20m,1.0,No info,NaN,2019,6,15,19,15,4,55,5,35,300,335

In [103]:
fdf1.info()

<class 'pandas.core.frame.DataFrame'>
Index: 13354 entries, 0 to 2670
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Duration         13354 non-null  object
 4   Total_Stops      13297 non-null  float64
 5   Additional_Info  13354 non-null  object
 6   Price            10683 non-null  float64
 7   year             13354 non-null  int32
 8   month            13354 non-null  int32
 9   day              13354 non-null  int32
 10  Arrival_hour     13354 non-null  int64
 11  Arrival_min      13354 non-null  int64
 12  Departure_hour   13354 non-null  int64
 13  Departure_min    13354 non-null  int64
 14  Duration_hr      13354 non-null  int64
 15  duration-min     13354 non-null  int64
 16  Duration_hr1     13354 non-null  int64
 17  Total_duration   13354 non-null  int64
dtypes: float64(2), int32(3), int64(8), object(5)
memory usage: 1.8+ MB

In [104]:
fdf1.drop(columns=['Duration'],inplace=True)

In [105]:
fdf1

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1,Total_duration
0,IndiGo,Banglore,New Delhi,0.0,No info,3897.0,2019,3,24,1,10,22,20,2,50,120,170
1,Air India,Kolkata,Banglore,2.0,No info,7662.0,2019,5,1,13,15,5,50,7,25,420,445
2,Jet Airways,Delhi,Cochin,2.0,No info,13882.0,2019,6,9,4,25,9,25,19,0,1140,1140
3,IndiGo,Kolkata,Banglore,1.0,No info,6218.0,2019,5,12,23,30,18,5,5,25,300,325
4,IndiGo,Banglore,New Delhi,1.0,No info,13302.0,2019,3,1,21,35,16,50,4,45,240,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,Air India,Kolkata,Banglore,1.0,No info,NaN,2019,6,6,20,25,20,30,27,25,1620,1645
2667,IndiGo,Kolkata,Banglore,0.0,No info,NaN,2019,3,27,16,55,14,20,2,35,120,155
2668,Jet Airways,Delhi,Cochin,1.0,No info,NaN,2019,3,6,4,25,21,50,20,10,1200,1210
2669,Air India,Delhi,Cochin,1.0,No info,NaN,2019,3,6,19,15,4,0,2,50,120,170
2670,Multiple carriers,Delhi,Cochin,1.0,No info,NaN,2019,6,15,19,15,4,55,5,35,300,335

In [107]:
fdf1['Total_Stops'].info()

<class 'pandas.core.series.Series'>
Index: 13354 entries, 0 to 2670
Series name: Total_Stops
Non-Null Count  Dtype
--------------  -----
13297 non-null  float64
dtypes: float64(1)
memory usage: 208.7 KB

In [108]:
fdf1['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [109]:
from sklearn.preprocessing import LabelEncoder

In [110]:
le=LabelEncoder()

In [111]:
fdf1['Airline']=le.fit_transform(fdf1['Airline'])

In [112]:
fdf1['Airline']

0       3
1       1
2       4
3       3
4       3
       ..
2666    1
2667    3
2668    4
2669    1
2670    6
Name: Airline, Length: 13354, dtype: int64

In [113]:
fdf1['Additional_Info']=le.fit_transform(fdf1['Additional_Info'])

In [114]:
fdf1['Source']=le.fit_transform(fdf1['Source'])

In [115]:
fdf1['Destination']=le.fit_transform(fdf1['Destination'])

In [116]:
fdf1

,Airline,Source,Destination,Total_Stops,Additional_Info,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,duration-min,Duration_hr1,Total_duration
0,3,0,5,0.0,8,3897.0,2019,3,24,1,10,22,20,2,50,120,170
1,1,3,0,2.0,8,7662.0,2019,5,1,13,15,5,50,7,25,420,445
2,4,2,1,2.0,8,13882.0,2019,6,9,4,25,9,25,19,0,1140,1140
3,3,3,0,1.0,8,6218.0,2019,5,12,23,30,18,5,5,25,300,325
4,3,0,5,1.0,8,13302.0,2019,3,1,21,35,16,50,4,45,240,285
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1,3,0,1.0,8,NaN,2019,6,6,20,25,20,30,27,25,1620,1645
2667,3,3,0,0.0,8,NaN,2019,3,27,16,55,14,20,2,35,120,155
2668,4,2,1,1.0,8,NaN,2019,3,6,4,25,21,50,20,10,1200,1210
2669,1,2,1,1.0,8,NaN,2019,3,6,19,15,4,0,2,50,120,170
2670,6,2,1,1.0,8,NaN,2019,6,15,19,15,4,55,5,35,300,335

In [117]:
#we have to drop duration-hr1 and duration min

In [119]:
pd.get_dummies(fdf1,columns=['Airline','Source','Destination','Additional_Info'],drop_first=True,dtype=int)

,Total_Stops,Price,year,month,day,Arrival_hour,Arrival_min,Departure_hour,Departure_min,Duration_hr,...,Destination_5,Additional_Info_1,Additional_Info_2,Additional_Info_3,Additional_Info_4,Additional_Info_5,Additional_Info_6,Additional_Info_7,Additional_Info_8,Additional_Info_9
0,0.0,3897.0,2019,3,24,1,10,22,20,2,...,1,0,0,0,0,0,0,0,1,0
1,2.0,7662.0,2019,5,1,13,15,5,50,7,...,0,0,0,0,0,0,0,0,1,0
2,2.0,13882.0,2019,6,9,4,25,9,25,19,...,0,0,0,0,0,0,0,0,1,0
3,1.0,6218.0,2019,5,12,23,30,18,5,5,...,0,0,0,0,0,0,0,0,1,0
4,1.0,13302.0,2019,3,1,21,35,16,50,4,...,1,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2666,1.0,NaN,2019,6,6,20,25,20,30,27,...,0,0,0,0,0,0,0,0,1,0
2667,0.0,NaN,2019,3,27,16,55,14,20,2,...,0,0,0,0,0,0,0,0,1,0
2668,1.0,NaN,2019,3,6,4,25,21,50,20,...,0,0,0,0,0,0,0,0,1,0
2669,1.0,NaN,2019,3,6,19,15,4,0,2,...,0,0,0,0,0,0,0,0,1,0
2670,1.0,NaN,2019,6,15,19,15,4,55,5,...,0,0,0,0,0,0,0,0,1,0